@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Lobster&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    width: auto;
    height: auto;
}

/*NavBar*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar {
    background: rgba(30, 33, 36);
    border-bottom: white solid 3px;
}

.nav-font {
    color: white;
    font-style: normal;
    text-decoration: none;
    margin-right: .5em;
    margin-left: .5em;
}

.nav-font:hover {
    color: dodgerblue;
}

.bad-coffee:hover {
    text-transform: uppercase;
}


/**/
/*Jumbotron*/
/**/

.jumbotron {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
}

.jumbotron1 {
    width: 520px;
    height: 370px;
    position: relative;
    top: 25px;

}

.jumbotron1:hover {
    transform: scale(1.2);
    transition: .2s ease;
}

.jumbotron2 {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: .35;
    border: 4px gray outset;
}


/**/
/*Title*/
/**/
.title-hr {
    width: 60%;
    border-top: 9px dotted #fff;
    margin-right: auto;
    margin-left: auto;
}

/**/
/*headers*/
h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

/**/
/*Coffee select*/
/**/
.form-container {
    margin-left: 20px;
}

label {
    font-weight: bold;
    color: white;
}

#submit {
    color: white;
    background-color: dodgerblue;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.back-button {
    position: relative;
    bottom: 235px;
}

#submit:hover {
    background: linear-gradient(to bottom right, #00ffff, #40ff00, #00ffff);
    color: #0082fc;
}

#submit:active {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

#coffee-search {
    border-radius: .3em;
    border: 5px solid dodgerblue;
}

#coffee-search:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;

}

#roast-selection {
    border-radius: .3em;
    border: 5px solid dodgerblue;
}

#roast-selection:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.coffee {
    width: 200px;
    height: 100px;
    white-space: nowrap;
}

#coffees {
    position: relative;
    flex-wrap: wrap;
    height: 500px;
    overflow: auto;
    border-top: 4px solid rgba(0, 255, 255, 0.85);
    border-right: 4px solid rgba(39, 250, 0, 0.87);
    border-bottom: 4px solid rgba(0, 255, 255, 0.85);
    border-left: 4px solid rgba(39, 250, 0, 0.87);
}

.borders {
    position: relative;
}

span {
    position: absolute;
}



.top {
    top: 20px;
    left: -11px;
    width: 0;
    height: 5px;
    background: linear-gradient(
            90deg,
            transparent 50%,
            rgba(57, 255, 60, 0.5),
            rgb(0, 248, 4)
    );
}

.bottom {
    right: -11px;
    bottom: -5px;
    height: 5px;
    background: linear-gradient(
            90deg,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5),
            transparent 50%
    );
}

.right {
    top: 0;
    right: 8px;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            transparent 30%,
            rgba(0, 255, 255, 0.5),
            rgb(0, 255, 255)
    );
}

.left {
    left: 7px;
    bottom: -22px;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            rgb(0, 234, 255),
            rgba(0, 253, 253, 0.5),
            transparent 70%
    );
}

.top {
    animation: animateTop 5s ease-in-out infinite;
}

.bottom {
    animation: animateBottom 5s ease-in-out infinite;
}

.right {
    animation: animateRight 5s ease-in-out infinite;
}

.left {
    animation: animateLeft 5s ease-in-out infinite;
}

@keyframes animateTop {
    25% {
        width: 100%;
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes animateBottom {
    0%,
    50% {
        opacity: 0;
        width: 0;
    }

    75% {
        opacity: 1;
        width: 100%;
    }

    76%,
    100% {
        opacity: 0;
    }
}

@keyframes animateRight {
    0%,
    25% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 100%;
    }

    55%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes animateLeft {
    0%,
    75% {
        opacity: 0;
        bottom: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}


.coffee p {
    text-align: center;
    display: inline;
    margin-left: .5em;
    color: #939292;
}

.coffee h3 {
    display: inline;
    text-align: left;
    position: relative;
}


.form-wrap {
    margin: auto;
    margin-right: 0px;
}

#add-coffee-search {
    border-radius: .3em;
    border: 5px solid dodgerblue;
}

#add-coffee-search:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#add-roast-selection {
    border-radius: .3em;
    border: 5px solid dodgerblue;
}

#add-roast-selection:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

#add-submit {
    color: white;
    background-color: dodgerblue;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

#add-submit:active {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}

#add-submit:hover {
    background: linear-gradient(to bottom right, #00ffff, #40ff00, #00ffff);
    color: #0080fd;
}


/**/
/**/
/*about content below*/
#about-hr {
    color: white;
    padding-top: 3px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#about-header {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.about-content {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}


/**/
/**/
/*Roast Survey Here*/
#roast-hr {
    color: white;
    padding-top: 3px;
    margin-bottom: 50px;
    margin-top: 150px;
}

#roast-header {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.roast-dom {
    color: white;
}

.roast-s-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roast-s-wrap label {
    margin-bottom: 10px;
}

.roast-img-wrap {
    display: flex;
    justify-content: center;
}

.roast-content {
    color: white;
    margin-left: 10px;
}

#survey-submit {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #41a4ff;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-bottom: 5em;
}

#survey-submit:hover {
    background: linear-gradient(to bottom right, #00ffff, #40ff00, #00ffff);
    color: dodgerblue;
}

#survey-submit:active {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 15px #9ecaed;
}


/*footer content below*/
#footer-hr {
    border-top: 9px dotted #fff;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

/*Images and list here*/

.about-img-container {
    overflow-x: scroll;
    white-space: nowrap;

}

li {
    display: inline;
    height: auto;
    max-width: 100%;
}

.coffee-link:hover {
    color: #ff8000;
}

.about-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.about-img:hover {
    transform: scale(1.1);
    transition: .2s ease;
}


/*JS hidden styles*/
.coffee-link {
    padding-left: 1em;
    text-decoration: none;
    color: white;
    transition: .5s ease-in-out;
}

.swap-img {
    height: 400px;
    width: 400px;
    border-radius: 30%;
    border: white 5px solid;
    object-fit: cover;

}

.google-font {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

.roast-p {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.google-title-h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.google-title-h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.google-title-h3 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.classAddTitle {
    text-align: center;
    color: black;
    width: 100%;
    font-size: xxx-large;
    color: white;

}

.classAddDesc {
    position: relative;
    bottom: 150px;
    width: 100%;
    text-indent: 10%;
    margin-top: 200px;
    color: white;
}


/**/
/*media Queries below this line*/
/**/
@media screen and (min-width: 992px) {
    .bad-coffee2 {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .bad-coffee2 {
        margin-left: .2em;
        text-decoration: none;
    }

    .swap-img {
        width: 250px;
        height: 250px;
    }

    .bad-coffee2:hover {
        text-transform: uppercase;

    }
}



