
.logo-init {
    color: white;
/*    need to find a good style font for this */
    text-decoration: none;
    font-size: xx-large;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar {
    background: rgba(30, 33, 36);
    border-bottom: white solid 3px;
}
.nav-font {
    color: white;
    font-style: normal;
    text-decoration: none;
    padding-left: .2em;
    padding-right: .2em;
}

.nav-font:hover {
    color: red;
}

#jumbotron img{
    width: 400px;
    height: 250px;
    position: relative;
    top: 25px;=
}
#jumbotron {
    display: flex;
    justify-content: center;
}
.title-hr {
    color: white;
    padding-top: 3px;
}
h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

.form-container {
    margin-left: 20px;
}
label {
    font-weight: bold;
    color: white;
}
#submit {
    color: white;
    background-color: #41a4ff;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

#submit:hover {
    background: linear-gradient(to bottom right, #41a4ff, #eeff54, #6dfa87);
    color: #343434;
}

#coffee-search {
    border-radius: .3em;
    border: 1px solid grey;
}
#coffee-search:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}
#roast-selection {
    border-radius: .3em;
    border: 1px solid grey;
}
#roast-selection:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.coffee {
    /*border: red 5px solid;*/
    width: 200px;
    height: 100px;
    white-space: nowrap;
}
#coffees {
    flex-wrap: wrap;
    height: 500px;
    overflow: auto;
    background: linear-gradient(to bottom, #1230ff, rgba(59, 127, 255, 0.68), rgba(99, 164, 255, 0.83));

}

.coffee p {
    text-align: center;
    display: inline;
    margin-left: .5em;
    color: #939292;
}
.coffee h3  {
    display: inline;
    text-align: left;
}



.form-wrap {
    margin: auto;
    margin-right: 0px;
}
#add-coffee-search {
    border-radius: .3em;
    border: 1px solid grey;
}
#add-coffee-search:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#add-roast-selection {
    border-radius: .3em;
    border: 1px solid grey;
}
#add-roast-selection:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#add-submit {
    color: white;
    background-color: #41a4ff;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

#add-submit:hover {
    background: linear-gradient(to bottom right, #41a4ff, #eeff54, #6dfa87);
    color: #343434;
}

/*about content below*/
#about-hr {
    color: white;
    padding-top: 3px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#about-header {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.about-content {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
/*Roast Survey Here*/
#roast-hr {
    color: white;
    padding-top: 3px;
    margin-bottom: 50px;
    margin-top: 150px;
}
#roast-header {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.roast-dom {
    color: white;
}
.roast-s-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roast-s-wrap label {
    margin-bottom: 10px;
}
.roast-img-wrap {
    display: flex;
    justify-content: center;
}
.roast-content {
    color: white;
    margin-left: 10px;
}
#survey-submit {
    color: white;
    background-color: #41a4ff;
    border-radius: .3em;
    border: none;
    margin-top: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-bottom: 5em;
}


/*footer content below*/
#footer-hr {
    border-top: 9px dotted #fff;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}



/*JS hidden styles*/
.coffee-link {
    text-decoration: none;
    color: black;
    transition: .5s ease-in-out;
}

.about-img-container {
    overflow-x: scroll;
    white-space: nowrap;

}

li {
    display: inline;
    height: auto;
    max-width: 100%;
}

.coffee-link:hover {
    color: #ff8000;
}

.about-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.about-img:hover {
    transform: scale(1.1);
    transition: .2s ease;
}
